.page-footer {
    @include Padding($s-top: 60px, $s-bottom: 60px, $s-left: 0, $s-right: 0);
    background-color: $primary-bg-color;

    @media screen and (max-width: 1199px) {
        text-align: center;
    }
    
}

.footer {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    @media screen and (min-width:768px) {
        display: flex;
    }

}

.footer__logo {
    @include centeredFlex($type: inline-block, $alicentered: stretch, $jucentered: flex-start);
    @include Margin($s-top: 0, $s-bottom: 20px, $s-left: 0, $s-right: 0);
    padding: 0;
}

.adress__list{
    @extend %ul;
}

.logo__style--color {
    color: $primary-white-color;
}

.adress__link {
    @extend %a;
    font-style: normal;
    @include FontSLineH($Fsize: 14px, $Lheight: 1.71);
    color: $primary-white-color;

    transition: color 250ms $cubic-bezier;
        &:hover,
        &:focus{
            color: $accent-color;
        }
}

.adress__link--color {
    color: $accent-second-color;
}

.socnetwork {
    font-weight: 700;
    @include FontSLineH();
    text-transform: uppercase;
    color: $primary-white-color;

    @media screen and (max-width:767px){
        @include Margin($s-top: 60px, $s-bottom: 0, $s-left: 0, $s-right: 0);
    }

    @media screen and (min-width:768px) and (max-width: 1199px) {
        @include Margin($s-top: 0, $s-bottom: 0, $s-left: 165px, $s-right: 0);
    }

    @media screen and (min-width: 1200px) {
        @include Margin($s-top: 12px, $s-bottom: 0, $s-left: 70px, $s-right: 0);
    }
    // 
}

.socnetwork__title {
    @include Margin($s-top: 0, $s-bottom: 20px, $s-left: 0, $s-right: 0);
}

.socnetwork__list {
    @extend %ul;
    @include centeredFlex($type: inline-flex, $alicentered: stretch, $jucentered: flex-start);
    @include Margin($s-top: 0, $s-bottom: 30px, $s-left: 0, $s-right: 0);

}

.socnetwork__item:not(:last-child) {
    @include Margin($s-top: 0, $s-bottom: 0, $s-left: 0, $s-right: 10px);
}

.socnetwork__link {
    @extend %a;
    

    @include centeredFlex($type: flex, $alicentered: center, $jucentered: center);
    height: 44px;
    width: 44px;
    background-color: $soclink-bg-color;
    border-radius: 50%;
    color: $primary-white-color;

    transition: background-color 250ms $cubic-bezier;
        &:hover,
        &:focus{
            background-color: $accent-color;
        }
}

.socnetwork__icon {
    fill: currentColor;
}

.centred {

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: baseline;
    }

}

.subscription {
    
    @include Padding($s-top: 12px, $s-bottom: 0, $s-left: 0, $s-right: 0);
    font-weight: 700;
    @include FontSLineH();
    text-transform: uppercase;
    color: $primary-white-color;

    @media screen and (min-width: 768px) and (max-width: 1199px){
        @include Margin($s-top: 60px, $s-bottom: 60px, $s-left: 0, $s-right: 0);
    }

    @media screen and (min-width: 1200px){
        @include Margin($s-top: 0, $s-bottom: 0, $s-left: auto, $s-right: 0);
    }
}

.subscription__title {
    @include Margin($s-top: 0, $s-bottom: 20px, $s-left: 0, $s-right: 0);
}

.subscription__form {
    @media screen and (min-width: 1200px){
        @include centeredFlex($type: flex, $alicentered: center, $jucentered: flex-start);
        text-align: center;
    }
    
}


.subscription__input {
    @include Padding($s-top: 15px, $s-bottom: 15px, $s-left: 16px, $s-right: 0);
    width: 100%;
    height: 50px;
    @include FontSLineH($Fsize: 16px, $Lheight: 1.25);
    color: inherit;
    background-color: $primary-bg-color;
    border: 1px solid $border-color-third;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    transition: border-color 250ms $cubic-bezier;
        &::placeholder{
                @include FontSLineH($Fsize: 16px, $Lheight: 1.25);
                color: $accent-second-color;
            }
        &:hover,
        &:focus{
            outline: transparent;
            border-color: $accent-color;
        }

        @media screen and (max-width: 1199px){
            @include Margin($s-top: 0, $s-bottom: 20px, $s-left: 0, $s-right: 0);
        }
        @media screen and (min-width: 1200px) {
            width: 358px;
            
        }
    }

.subscription__button {
  
    @include Margin($s-top: 0, $s-bottom: 0, $s-left: 12px, $s-right: 0);
    @include Padding($s-top: 10px, $s-bottom: 10px, $s-left: 28px, $s-right: 28px);
    width: 200px;
    height: 50px;
    font-weight: 700;
    @include FontSLineH($Fsize: 16px, $Lheight: 1.88);
    text-align: center;
    @include LetterSpacing ($size: 0.06em);
    color: $primary-white-color;
    background-color: $accent-color;
    border-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    position: relative;

    transition: box-shadow 250ms $cubic-bezier;
        &:hover,
        &:focus{
            box-shadow: $box-shadow-primary;
        }
    
    @media screen and (min-width: 1200px){
        @include centeredFlex($type: flex, $alicentered: center, $jucentered: flex-start);
    }
}


.subscription__icon {
    @include Margin($s-top: 0, $s-bottom: 0, $s-left: 10px, $s-right: 0);
    @media screen and (max-width: 1199px) {
        position: absolute;
    }
    
    
}