$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$logo-color: #000000;
$accent-second-color: rgba(255, 255, 255, 0.6);
$primary-bg-color: #2f303a;
$accent-bg-color: #f5f4fa;
$border-color-portf: #eeeeee;
$decision-bg-color: #c4c4c4;
$border-color-header: #ececec;
$icon-link-color: #afb1b8;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$backdrop-bg-color: rgba(0, 0, 0, 0.2);
$border-color-one: rgba(0, 0, 0, 0.1);
$border-color-second: rgba(33, 33, 33, 0.2);
$textarea-input-color: rgba(117, 117, 117, 0.5);
$send-btn-color:  #188CE8;
$bg-overlay: rgba(33, 150, 243, 0.9);
$soclink-bg-color: rgba(255, 255, 255, 0.1);
$border-color-third: rgba(255, 255, 255, 0.3);
$text-place-color: rgba(47, 48, 58, 0.8);
$box-shadow-primary: 0px 4px 4px rgba(0, 0, 0, 0.15);
$box-shadow-secondary: 0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);
$box-shadow-third: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);
$box-shadow-third-fourth: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);